<div class="ui tabular menu">
  <a href="<%= articles_path(status: nil) %>" class="item <%= 'active' if params[:status].blank? %>">
    All
  </a>
  <a href="<%= articles_path(status: 'published') %>" class="item <%= 'active' if published? %>">
    Published
  </a>
  <a href="<%= articles_path(status: 'draft') %>" class="item <%= 'active' if draft? %>">
    Draft
  </a>
  <div class="right menu">
    <%= link_to new_article_path, class: 'item' do %>
      <i class="add icon"></i>
      New
    <% end %>
  </div>
</div>
