<div class="ui vertical fluid menu">
  <a href="<%= articles_path %>" class="item <%= "active" if action_name == "index" %>">
    <i class="file outline icon"></i>
    Articles
  </a>

  <a href="<%= trash_articles_path %>" class="item <%= "active" if action_name == "trash" %>">
    <i class="trash icon"></i>
    Trash
  </a>

  <%= link_to sign_out_path, method: :delete, class: 'item' do %>
    <i class="sign out icon"></i>
    Sign Out
  <% end %>
</div>
