<%= render 'dashboard/trash_toolbar' %>
<div class="ui selection list">
  <% @articles.each do |article| %>
    <div class="item">
      <div class="right floated">
        <div class="ui basic buttons">
          <a class="ui restore article button" title="restore this article"
            data-restore-article-path="<%= restore_dashboard_article_path(article) %>">
            <i class="inbox icon"></i>
          </a>
          <%= link_to [:dashboard, article], method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui button' do %>
            <i class="remove icon"></i>
          <% end %>
        </div>
      </div>

      <div class="content">
        <div class="header">
          <%= article.title %>
        </div>
        <%= article.updated_at %>
      </div>
    </div>
  <% end %>
</div>
