<%= form_for(@article, html: { class: 'ui form' }) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2 class="ui header"><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="two fields">
    <div class="field">
      <div class="ui left input">
        <%= f.text_field :title, placeholder: "Article Title" %>
      </div>
    </div>
    <div class="field">
      <div class="ui left input">
        <%= f.text_field :slug, placeholder: "Article Slug" %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="ui left input">
      <%= f.text_area :content, id: 'editor' %>
    </div>
  </div>
  <div class="inline field">
    <label>Published</label>
    <div class="ui checkbox">
      <%= f.check_box :published, { }, checked_value = true, unchecked_value = false %>
      <%= f.label :published do %>
      <% end %>
    </div>
  </div>
  <div class="actions inline field">
    <%= f.submit '保存', class: 'ui blue submit button' %>
  </div>
<% end %>
