<%= render "dashboard/article_toolbar" %>
<div class="ui selection list">
  <% @articles.each do |article| %>
    <div class="item">
    <div class="right floated">
      <div class="ui basic buttons">
        <% if article.published? %>
          <%= link_to article, class: 'ui button' do %>
            <i class="external url icon"></i>
          <% end %>
        <% end %>

        <%= link_to article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui button' do %>
          <i class="remove icon"></i>
        <% end %>
      </div>
    </div>
    <div class="content">
      <div class="header">
        <%= link_to article.title, edit_article_path(article) %>
      </div>
      <%= article.updated_at %>
    </div>
  </div>
  <% end %>
</div>
