<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Content</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @article.title %></td>
      <td><%= @article.url %></td>
      <td><%= @article.content %></td>
      <td><%= link_to 'Edit', edit_article_path(@article) %></td>
      <td><%= link_to 'Back', articles_path %></td>
    </tr>
  </tbody>
</table>
