<!DOCTYPE html>
<html>
<head>
  <%= ::NewRelic::Agent.browser_timing_header rescue "" %>
  <title><%= site_title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <%= stylesheet_link_tag    "home", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "home", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body id="home" class="<%= controller_name %> <%= action_name %>">

<div class="wrapper">
  <div class="ui text menu">
    <div class="left floated item">
      <header class="header"><a href="<%= root_path %>">Edgar Wang</a></header>
    </div>
    <div class="right floated item">
      <nav class="ui right floated text menu">
        <a class="item" href="<%= root_path %>">Home</a>
        <a class="item" href="">About</a>
      </nav>
    </div>
  </div>

  <hr class="ui clearing divider">
  <%= render "shared/show_flash_msg" %>

  <%= yield %>
  <hr class="ui divider"></hr>

  <%= render 'shared/footer' %>
</div>

<%= ::NewRelic::Agent.browser_timing_footer rescue "" %>
</body>
</html>
